- content_for :head do
  = stylesheet_link_tag 'home'
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,900,800'

%h1= @opening.title
%p= @opening.description
%hr
.tcenter
  = link_to "Apply Now", new_opening_application_submission_path(@opening), class: 'btn btn-primary'
