- content_for :head do
  = stylesheet_link_tag 'home'
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,900,800'

- content_for :body do

  .page-container.home-page-container

    = render 'devise_notifications'

    .home-primary-banner
      .header-container
        %h1 #{Setting['organization.name']}

    .page-inner-container
      = render 'openings/index', footer_link: :openings
      .description-container.h-sym-pad
        %p #{Setting['organization.description']}
