- content_for :head do
  = stylesheet_link_tag "quiz_session"
  = javascript_include_tag "quiz_session"

- content_for :body do
  .page-container
    .sidebar
      .nav-container
      .question-list-container
        .section-title.centered Questions
    .qs-body
      .question-container
        - if @current_question
          .section-title= @current_question.title
          .section-description= @current_question.rendered_description
      .answer-container
        = render 'quiz_sessions/answers/edit'
