- content_for :head do
  = stylesheet_link_tag "quiz_session"
  = javascript_include_tag "quiz_session"
  = action_cable_meta_tag

- content_for :body do
  .page-container
    = render 'quiz_sessions/page_header', quiz_session: @quiz_session
    = render 'quiz_sessions/sidebar', quiz_session: @quiz_session
    #main_content_wrapper
      .qs-body#main_content
        - if @current_question.present?
          = render 'quiz_sessions/question_body',
            question: @current_question,
            answer: @current_answer,
            quiz_session: @quiz_session
        - else
          = render 'quiz_sessions/completion'
