- content_for :head do
  = stylesheet_link_tag "quiz_session"
  = javascript_include_tag "quiz_session"

- content_for :body do
  .page-container
    .sidebar
      .nav-container
      .question-list-container
        .section-title.centered Answered Questions
        %ol.submitted-question-list
          = render 'quiz_sessions/submitted_question_list', quiz_session: @quiz_session
    .qs-body
      .question-container
        - if @current_question
          = render 'quiz_sessions/question_description', question: @current_question
      .answer-container
        = render 'answers/edit', answer: @current_answer, quiz_session: @quiz_session
